<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Study_Finder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81F8CD8B1BB3970A0096AF26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81F8CDA41BB3970B0096AF26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81F8CDAF1BB3970B0096AF26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
